---
import { Image } from '@astrojs/image/components';
import Layout from "../layouts/Layout.astro";
import Event from "../components/Event.astro";

// import images
import kornfeld from "../images/kornfeld.webp";
import pasta from "../images/projects/pasta/food.jpeg";
import flight from "../images/projects/transport_poland/flight_mission_at_destination.jpg";
import transport from "../images/projects/children_berschad/car.jpg";


const events = [
  {
    title: 'russia is a terrorist state!',
    date: '18.09.2022',
    description: 'Schon mehr als ein halbes Jahr ist vergangen, seitdem russland eine blutige Invasion der Ukraine gestartet hat. Sie verletzten damit das Völkerrecht, den Anstand und die Moral. Die Ukraine kämpft für die Freiheit, Unabhängigkeit, Meinungsfreiheit - alles Attribute die in Europa und Deutschland eine feste Stellung in der Gesellschaft haben. Deutschland und Europa unterstützt die Ukraine mit Sanktionen und Waffen. Und die Ukraine zeigt tapfer, dass sie die eingefallen russen aus ihrem Land vertreiben kann. Erst recht gilt es jetzt, die Ukraine mit Waffen zu unterstützen und russland weiterhin mit Sanktionen zu belegen. Damit russland diesen Krieg verliert, damit die Ukraine frei in ihren eigenen Grenzen bleibt, damit Europa seine Werte nicht verrät. Gemeinsam gegen russland - einem Sponsor des Terrors!',
    imgTitle: 'event1',
    link: 'https://adwooagency.pixieset.com/uagoetheplatz/'
  },
  {
    title: '#independenceinmyheart Frankfurt - Mit der Unabhängigkeit im Herzen!',
    date: '24.08.2022',
    description: 'Freiheit beginnt mit jedem von uns! Tief in unserem Herzen! Und wir sind bereit, für unsere Freiheit zu sterben! Perspektive Ukraine e.V. organisierte einen Demonstrationszug zum Unabhängigkeitstag der Ukraine durch die Stadt Frankfurt. Denn wir alle wollen eine glückliche, freie Ukraine sehen. Gemeinsam, mit unserem ganzen Herzen!',
    imgTitle: 'event2',
    link: 'https://adwooagency.pixieset.com/ua-independenceday-ffm/'
  },
  {
    title: 'Save defenders of Azovstal! Save Ukraine!',
    date: '30.07.2022',
    description: 'Schon zu lange währt der Krieg in der Ukraine! Die russische Invasion schadet den Menschen vor Ort mit jeder Rakete, mit jedem Geschoss, mit jeder Patrone. Die tapferen Ukrainer, die für Freiheit, Menschenrechte und Demokratie kämpfen, sterben oder in Gefangenschaft genommen werden (so wie die tapferen Kämpfer des Azovstal Werkes in Mariupol), müssen von uns stärker unterstützt werden.',
    imgTitle: 'event3',
    link: 'https://adwooagency.pixieset.com/uademo-rmerberg2007/'
  },
  {
    title: 'Azovstal. Free Mariupol Defenders!',
    date: '25.06.2022',
    description: 'Perspektive Ukraine e.V. unterstützte in Frankfurt die europaweite Aktion „Azovstal - Free Mariupol Defenders“ Es war überall in den Nachrichten! Helden, die in Mariupol unter ständigem Beschuss Zivilisten verteidigt haben, in einem Stahlwerk - ohne Möglichkeit rauszukommen. Sie bekamen den Befehl, die Waffen niederzulegen, um sich in die Gefangenschaft zu begeben.Jetzt müssen die Verteidiger von Mariupol endlich befreit werden!',
    imgTitle: 'event4',
    link: 'https://adwooagency.pixieset.com/azovstal-savemariupoldefenders/'
  },
  {
    title: 'Unterstützung der Väter in der Ukraine',
    date: '26.05.2022',
    description: 'Einer war Bäcker, der andere Professor, doch heute kämpfen sie um ihr Haus, um die Zukunft ihrer Kinder und um ihr Vaterland. Sie können leider nicht den Vatertag als Familienfest gemeinsam mit ihren Kindern feiern. Perspektive Ukraine e.V. hat alle Menschen aufgerufen, zusammen Solidarität mit diesen Vätern zu zeigen.',
    imgTitle: 'event5',
    link: 'https://adwooagency.pixieset.com/vatertag-ua-alteoper/',
  },
]
---

<Layout title="Perspektive Ukraine e.V.">
  <main>
    <Image src={kornfeld} alt="girl in the cornfield" />
    <div class="container mx-auto">
      <section>
        <p>
          Perspektive Ukraine e.V. unterstützt die Menschen in der Ukraine im
          Widerstand gegen die Invasoren und im Wiederaufbau ihres Landes, für
          eine freie, starke und blühende Ukraine.
        </p>
        <p>
          Der Angriffskrieg russlands gegen die Ukraine hat die Zerstörung der
          ukrainischen Souveranität und die Unterwerfung der Ukraine unter das
          diktatorische Regime russlands zum Ziel. Diese Unterwerfung soll mit
          allen Mitteln erreicht werden, militärisch durch Invasion und
          Okkupation, wirtschaftlich durch die Zerstörung von Infrastruktur,
          psychologisch durch das Töten von Zivilisten, Vergewaltigung und
          Folter.
        </p>
        <p>
          Die Ukraine widersteht der Aggression mit Herz und Verstand,
          Willenskraft und Durchhaltevermögen. Dieser Widerstand ist erfolgreich
          und muss erfolgreich sein. Der Ausgang des Konflikts wird das
          Schicksal von Generationen bestimmen, nicht nur das der Ukrainer, das
          der Europäer, das der Menschen im 21. Jahrhundert. "Frag nicht, wem
          die Stunde schlägt, sie schlägt Dir."
        </p>
        <p>
          Unsere Unterstützung richtet sich an die Arbeit jener, die in der
          Ukraine geblieben oder zurückgekehrt sind, um zu schützen und zu
          helfen, zu versorgen und zu ernähren. Und um wiederaufzubauen, wo die
          Aggressoren sich zurückziehen, Schulen und Krankenhäuser, Häuser und
          Höfe, Werke und Betriebe, Straßen, Wasser und Strom.
        </p>
      </section>
      <section>
        <h2 id="neuigkeiten">Neuigkeiten</h2>
        <hr class="mt-5" />
        <div class="flex justify-center items-center">
          <div class="flex flex-col items-center gap-5 mt-5 py-2 px-4 justify-center  drop-shadow-xl bg-white shadow-black max-w-2xl">
            <div>
              <svg class="stroke-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-octagon"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
            </div>
            <hr class="w-1/2 black" />
            <div>
              <h3 class="m-0 text-center">#DefendingUkraine - Unterstützt den Schild von Europa!</h3>      
              <p class="text-center">Perspektive Ukraine e.V. lädt zur Kundgebung ein.</p>
              <p class="m-0 text-center">Wann: <span class="underline">Freitag 14. Oktober 2022, 17:30 - 19:00</span></p>
              <p class="m-0 text-center">Wo: <span class="underline">Römerberg, Frankfurt am Main</span></p>
              <p class="text-center">Unterstützen Sie die Ukraine!</p>
            </div>
          </div>       
        </div>
      </section>
      <section>
        <h2 id="veranstaltungen">Veranstaltungen</h2>
        <hr class="mt-5" />
        {events.map((event) => (
          <>
            <Event title={event.title} date={event.date} description={event.description} imgTitle={event.imgTitle} link={event.link} />
          </>
        ))}
      </section>
      <section>
        <h2 id="projekte">Projekte</h2>
        <hr class="mt-5" />

        <div class="flex flex-col gap-5 my-5 p-5 justify-start drop-shadow-xl bg-white shadow-black md:flex-row">
          <div class="basis-1/3">
            <Image src={transport} alt="delivery car" format={"webp"} />
          </div>
          <div class="basis-2/3">
            <h3 class="my-0">Humanitäre Hilfsgüter und Notfallmedizin</h3>
            <p>
              In den Kriegsgebieten mangelt es an Medikamenten, Essen und Trinkwasser, Kleidung und Hygieneprodukten. Verteidiger und Zivilsten sterben, weil die Versorgung mit Tourniquets, blutstillendem Verbandsmaterial, antibakteriellen Medikamenten usw. nicht hinterherkommt. Wir kaufen das, was am dringenstens benötigt wird und bringen es in die Kriegsgebiete. Wir organisieren den gesamten Transportweg und stellen sicher, dass alles am Ziel ankommt.
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-5 my-5 p-5 justify-start drop-shadow-xl bg-white shadow-black md:flex-row">
          <div class="basis-2/3">
            <h3 class="my-0">Transportflug nach Polen</h3>
            <p>
              Mitglied des Perspektive Ukraine e.V. Dr. Sascha Engelbrecht steuert eine Piper Cherokee Arrow nach Mielec nahe der polnisch-ukrainischen Grenze. Der Transportflug war Teil einer humanitären Mission, die von der <a class="underline" target="_blank" href="https://www.ukraine-air-rescue.de/mission-on-03-08-and-05-08-2022-with-five-aircraft-with-pilots-from-mainz-finthen-edfz-bonn-hangelar-edkb-frankfurt-egelsbach-edfe-bad-nauheim-edfb-and-lachen-speyerdorf-edlr">Ukraine Air Rescue</a> organisiert und durchgeführt wurde. 
            </p>
          </div>
          <div class="basis-1/3">
            <Image src={flight} alt="plane with pilot" format={"webp"}/>
          </div>
        </div>

        <div class="flex flex-col gap-5 my-5 p-5 justify-start drop-shadow-xl bg-white shadow-black md:flex-row">
          <div class="basis-1/3 max-h-80 overflow-hidden">
            <Image src={pasta} alt="pasta" format={"webp"}/>
          </div>
          <div class="basis-2/3">
            <h3 class="my-0">Nudelpakete für die Suppenküchen in Charkiw, Ukraine</h3>
            <p>
                Unsere Aktion „Nudel für Charkiw“ hilft seit Mai 2022 Menschen, die durch die Bombenangriffe kein Zuhause mehr haben und bei Nahrungsmitteln auf Spenden angewiesen sind. Andrii Shorokhov hat eine kleine Nudelproduktion in Charkiw. Vom gespendeten Geld kaufen wir seine Nudeln und er verteilt sie kostenlos u.a. an Suppenküchen, Krankenhäuser und bedürftige Menschen, die unter widrigsten Bedingungen überleben müssen. Seit Mai 2022 hat Andrii mit Hilfe unserer privaten Spenderinnen und Spender und eine Großspende von der DekaBank, 1 Tonne Nudeln verteilt. Die Dankbarkeit bei den Menschen vor Ort dafür ist groß. Für jeden gespendeten Euro kann eine Packung Nudeln zu jemandem gebracht werden, der sie dringend benötigt. Der Winter steht an, die Menschen in der Ukraine brauchen unsere Hilfe weiterhin. Jeder Betrag hilft! Um gezielt für dieses Projekt zu spenden, geben Sie bitte „Nudeln für Charkiw“ im Verwendungszweck an.
            </p>
          </div>
        </div>

        <h3>Kinder-Sommercamp</h3>
        <p>
          Für die Kinder muss das Leben weitergehen. Wir organisieren für sie
          Sommercamps in friedlicher Umgebung mit Lernen, Spielen und Sport.
        </p>

        <h3>Mini-Wasserkraftwerk</h3>
        <p>
          Nach offiziellen Schätzungen wird die ukrainische Wirtschaft durch den Krieg um 45% schrumpfen! Wir müssen die Wirtschaft stabilsieren. Wir können nicht warten, wir müssen damit jetzt beginnen. Wir wollen einen kleinen aber wichtigen Beitrag mit Projekten zur lokalen Energieversorgung leisten. Im Zentrum des Vorhabens steht der Bau von Mini- und Kleinstwasserkraftwerken.
        </p>
      </section>
      <section>
        <h2 id="spenden">Spenden</h2>
        <hr class="mt-5" />
        <p>
          Für die Durchführung unserer Projekte benötigen wir finanzielle
          Unterstützung. Wenn ihr uns mit einer Spende unterstützen möchtet,
          überweist diese bitte auf folgendes Konto:
        </p>
        <div class="flex flex-col">
          <span>Perspektive Ukraine e.V.</span>
          <span>Bank: Deutsche Skatbank</span>
          <span>IBAN: DE76 8306 5408 0005 2429 83</span>
          <span>BIC: GENODEF1SLR</span>
        </div>
        <p>
          Wir stellen gerne eine Spendenquittung aus. Schickt uns bitte hierfür
          eine E-Mail an <a
            class="underline"
            href="mailto:info@perspektive-ukraine.de"
            >info@perspektive-ukraine.de</a
          >
          mit den folgenden Informationen: Eurem Namen - Eurer Anschrift - Betrag
          der Spende - Datum der Überweisung.
        </p>
        <p>Herzlichen Dank!</p>
      </section>
      <section>
        <h2 id="mitarbeiten">Mitarbeiten</h2>
        <hr class="mt-5" />
        <p>
          Wir suchen Experten und Projektmanager, die uns in unseren Vorhaben
          unterstützen. Wenn ihr aktiv in den Projekten mitarbeiten möchtet,
          kontaktiert uns bitte unter
          <a href="mailto:info@perspektive-ukraine.de"
            >info@perspektive-ukraine.de</a
          >.
        </p>
        <div class="flex flex-col md:flex-row md:gap-20">
          <div class="basis-1/3">
            <h3 class="pb-4 border-b">PR-Agent</h3>
            <p>
              Wenn Du über professionelle Erfahrungen in der Pressearbeit
              verfügst, vielleicht sogar ein Netzwerk mitbringst und mindestens
              einen halben Tag pro Woche zur Verfügung stehst, melde Dich bitte
              bei uns.
            </p>
          </div>
          <div class="basis-1/3">
            <h3 class="pb-4 border-b">Logistik-Manager</h3>
            <p>
              Unser Verein sucht Unterstützung in der Organisation der
              Verbringung von Hilfsgütern in den Osten und Süden der Ukraine.
            </p>
          </div>
          <div class="basis-1/3">
            <h3 class="pb-4 border-b">Experte in lokaler Energieversorgung</h3>
            <p>
              Hast Du Erfahrung in der Umsetzung von lokalen Energieprojekten (z.B. Mini-Wasserkraftwerke, Blockheizkraftwerke) und bist auch von unserer Idee begeistert, diese Technologien in der Ukraine umzusetzen? Werde Teil unseres Teams, das die Ukraine jetzt schon und in der Zukunft wiederaufbauen möchte!
            </p>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
