---
import Layout from "../layouts/Layout.astro";
import kornfeld from "../images/kornfeld.webp";

import Event from "../components/Event.astro";

const events = [
  {
    title: 'Azovstal - Save Mariupol Defenders',
    date: '25.06.2022',
    description: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, voluptatem!  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, voluptatem!',
    imgTitle: 'azovstal.jpeg',
    link: 'https://adwooagency.pixieset.com/azovstal-savemariupoldefenders/'
  },
  {
    title: 'Vatertag - UA - Alte Oper',
    date: '26.05.2022',
    description: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, voluptatem!',
    imgTitle: 'ua_vatertag.jpeg',
    link: 'https://adwooagency.pixieset.com/vatertag-ua-alteoper/'
  },
  {
    title: 'UA',
    date: '08.05.2022',
    description: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, voluptatem!',
    imgTitle: 'ua.jpeg',
    link: 'https://adwooagency.pixieset.com/ua/'
  }
]
---

<Layout title="Perspektive Ukraine e.V.">
  <main>
    <img src={kornfeld} />
    <div class="container mx-auto">
      <section>
        <p>
          Perspektive Ukraine e.V. unterstützt die Menschen in der Ukraine im
          Widerstand gegen die Invasoren und im Wiederaufbau ihres Landes, für
          eine freie, starke und blühende Ukraine.
        </p>
        <p>
          Der Angriffskrieg Russlands gegen die Ukraine hat die Zerstörung der
          ukrainischen Souveranität und die Unterwerfung der Ukraine unter das
          diktatorische Regime Russlands zum Ziel. Diese Unterwerfung soll mit
          allen Mitteln erreicht werden, militärisch durch Invasion und
          Okkupation, wirtschaftlich durch die Zerstörung von Infrastruktur,
          psychologisch durch das Töten von Zivilisten, Vergewaltigung und
          Folter.
        </p>
        <p>
          Die Ukraine widersteht der Aggression mit Herz und Verstand,
          Willenskraft und Durchhaltevermögen. Dieser Widerstand ist erfolgreich
          und muss erfolgreich sein. Der Ausgang des Konflikts wird das
          Schicksal von Generationen bestimmen, nicht nur das der Ukrainer, das
          der Europäer, das der Menschen im 21. Jahrhundert. "Frag nicht, wem
          die Stunde schlägt, sie schlägt Dir."
        </p>
        <p>
          Unsere Unterstützung richtet sich an die Arbeit jener, die in der
          Ukraine geblieben oder zurückgekehrt sind, um zu schützen und zu
          helfen, zu versorgen und zu ernähren. Und um wiederaufzubauen, wo die
          Aggressoren sich zurückziehen, Schulen und Krankenhäuser, Häuser und
          Höfe, Werke und Betriebe, Straßen, Wasser und Strom.
        </p>
      </section>
      <section>
        <h2 id="veranstaltungen">Veranstaltungen</h2>
        <hr class="mt-5" />
        {events.map((event) => (
          <>
            <Event title={event.title} date={event.date} description={event.description} imgTitle={event.imgTitle} link={event.link} />
          </>
        ))}
      </section>
      <section>
        <h2 id="projekte">Projekte</h2>
        <hr class="mt-5" />
        <div class="flex flex-col gap-5 my-5 p-5 justify-start drop-shadow-xl bg-white shadow-black md:flex-row">
          <div class="basis-1/3">
            <img  src="/images/projects/children_berschad/car.jpg" alt="Delivery Car"/>
          </div>
          <div class="basis-2/3">
            <h3 class="my-0">Humanitäre Hilfsgüter und Notfallmedizin</h3>
            <p>
              In den Kriegsgebieten mangelt es an Medikamenten, Essen und Trinkwasser, Kleidung und Hygieneprodukten. Verteidiger und Zivilsten sterben, weil die Versorgung mit Tourniquets, blutstillendem Verbandsmaterial, antibakteriellen Medikamenten usw. nicht hinterherkommt. Wir kaufen das, was am dringenstens benötigt wird und bringen es in die Kriegsgebiete. Wir organisieren den gesamten Transportweg und stellen sicher, dass alles am Ziel ankommt.
            </p>
          </div>
        </div>

        <div class="flex flex-col gap-5 my-5 p-5 justify-start drop-shadow-xl bg-white shadow-black md:flex-row">
          <div class="basis-2/3">
            <h3 class="my-0">Nudelpakete für die Suppenküchen in Charkiw, Ukraine</h3>
            <p>
                Unsere Aktion „Nudel für Charkiw“ hilft seit Mai 2022 Menschen, die durch die Bombenangriffe kein Zuhause mehr haben und bei Nahrungsmitteln auf Spenden angewiesen sind. Andrii Shorokhov hat eine kleine Nudelproduktion in Charkiw. Vom gespendeten Geld kaufen wir seine Nudeln und er verteilt sie kostenlos u.a. an Suppenküchen, Krankenhäuser und bedürftige Menschen, die unter widrigsten Bedingungen überleben müssen. Seit Mai 2022 hat Andrii mit Hilfe unserer privaten Spenderinnen und Spender und eine Großspende von der DekaBank, 1 Tonne Nudeln verteilt. Die Dankbarkeit bei den Menschen vor Ort dafür ist groß. Für jeden gespendeten Euro kann eine Packung Nudeln zu jemandem gebracht werden, der sie dringend benötigt. Der Winter steht an, die Menschen in der Ukraine brauchen unsere Hilfe weiterhin. Jeder Betrag hilft! Um gezielt für dieses Projekt zu spenden, geben Sie bitte „Nudeln für Charkiw“ im Verwendungszweck an.
            </p>
          </div>
          <div class="basis-1/3 max-h-80 overflow-hidden">
            <img  src="/images/projects/pasta/food.JPG" alt="Delivery Car"/>
          </div>
        </div>

        <h3>Kinder-Sommercamp</h3>
        <p>
          Für die Kinder muss das Leben weitergehen. Wir organisieren für sie
          Sommercamps in friedlicher Umgebung mit Lernen, Spielen und Sport.
        </p>

        <h3>Mini-Wasserkraftwerk</h3>
        <p>
          Nach offiziellen Schätzungen wird die ukrainische Wirtschaft durch den Krieg um 45% schrumpfen! Wir müssen die Wirtschaft stabilsieren. Wir können nicht warten, wir müssen damit jetzt beginnen. Wir wollen einen kleinen aber wichtigen Beitrag mit Projekten zur lokalen Energieversorgung leisten. Im Zentrum des Vorhabens steht der Bau von Mini- und Kleinstwasserkraftwerken.
        </p>
      </section>
      <section>
        <h2 id="spenden">Spenden</h2>
        <hr class="mt-5" />
        <p>
          Für die Durchführung unserer Projekte benötigen wir finanzielle
          Unterstützung. Wenn ihr uns mit einer Spende unterstützen möchtet,
          überweist diese bitte auf folgendes Konto:
        </p>
        <div class="flex flex-col">
          <span>Perspektive Ukraine e.V.</span>
          <span>Bank: Deutsche Skatbank</span>
          <span>IBAN: DE76 8306 5408 0005 2429 83</span>
          <span>BIC: GENODEF1SLR</span>
        </div>
        <p>
          Wir stellen gerne eine Spendenquittung aus. Schickt uns bitte hierfür
          eine E-Mail an <a
            class="underline"
            href="mailto:info@perspektive-ukraine.de"
            >info@perspektive-ukraine.de</a
          >
          mit den folgenden Informationen: Eurem Namen - Eurer Anschrift - Betrag
          der Spende - Datum der Überweisung.
        </p>
        <p>Herzlichen Dank!</p>
      </section>
      <section>
        <h2 id="mitarbeiten">Mitarbeiten</h2>
        <hr class="mt-5" />
        <p>
          Wir suchen Experten und Projektmanager, die uns in unseren Vorhaben
          unterstützen. Wenn ihr aktiv in den Projekten mitarbeiten möchtet,
          kontaktiert uns bitte unter
          <a href="mailto:info@perspektive-ukraine.de"
            >info@perspektive-ukraine.de</a
          >.
        </p>
        <div class="flex flex-col md:flex-row md:gap-20">
          <div class="basis-1/3">
            <h3 class="pb-4 border-b">PR-Agent</h3>
            <p>
              Wenn Du über professionelle Erfahrungen in der Pressearbeit
              verfügst, vielleicht sogar ein Netzwerk mitbringst und mindestens
              einen halben Tag pro Woche zur Verfügung stehst, melde Dich bitte
              bei uns.
            </p>
          </div>
          <div class="basis-1/3">
            <h3 class="pb-4 border-b">Logistik-Manager</h3>
            <p>
              Unser Verein sucht Unterstützung in der Organisation der
              Verbringung von Hilfsgütern in den Osten und Süden der Ukraine.
            </p>
          </div>
          <div class="basis-1/3">
            <h3 class="pb-4 border-b">Experte in lokaler Energieversorgung</h3>
            <p>
              Hast Du Erfahrung in der Umsetzung von lokalen Energieprojekten (z.B. Mini-Wasserkraftwerke, Blockheizkraftwerke) und bist auch von unserer Idee begeistert, diese Technologien in der Ukraine umzusetzen? Werde Teil unseres Teams, das die Ukraine jetzt schon und in der Zukunft wiederaufbauen möchte!
            </p>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
