---
const {title, date, description, imgTitle, link} = Astro.props;

let fullLink = '/images/events/' + imgTitle;
---

<div class="flex flex-col gap-5 p-5 my-5 justify-start drop-shadow-xl bg-white shadow-black md:flex-row" >
    <div class="basis-1/2">
        <h3 class="my-0">{title}</h3>
        <p class="my-1">{date}</p>
        <hr />
        <p>{description}</p>
        <a class="py-1 px-3 bg-yellow" href={link} target="_blank">Zum Album</a>
    </div>
    <div class="basis-1/2">
        <img src={fullLink} />
    </div>
</div>